.orders-container {
  background-color: #ecfafd;
  padding: 20px;
  min-height: 100vh;
  border-radius: 8px;
}

.orders-title {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
}

.order-filter {
  margin-bottom: 20px;
}

.filter-button {
  margin: 0 8px;
  padding: 6px 12px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-button.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}


.order-card {
  background: #fff;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 24px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.order-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.status-dropdown {
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  color: black;

  appearance: none;
  background-color: white;
  transition: all 0.3s ease;
}

.status-ORDERED {
  background-color: #e3f0ff;
  border: 2px solid #007bff;
}

.status-PENDING {
  background-color: #fff5e0;
  border: 2px solid #e69500;
}

.status-COMPLETED {
  background-color: #e6f9ed;
  border: 2px solid #28a745;
}

.status-CANCELED {
  background-color: #ffe6e6;
  border: 2px solid #dc3545;
}




.order-products {
  border-top: 1px dashed #ccc;
  padding-top: 12px;
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.order-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 16px;
  border-radius: 4px;
}

.order-details h4 {
  margin: 0;
  font-size: 16px;
}

.toggle-button-wrapper {
  text-align: center;
  margin: 12px 0;
}

.toggle-button {
  background-color: transparent;
  border: none;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

.order-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}