.change-product {
    max-width: 100%;
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.change-product h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column; /* Căn chỉnh các hàng theo cột */
    gap: 16px; /* Khoảng cách giữa các hàng */
}

.row {
    display: flex;
    gap: 32px; /* Khoảng cách giữa hai cột trong mỗi hàng */
}

.ant-form-item-label {
  display: flex;
  align-items: top;
  gap: 4px;
}

.ant-form-item-label > label {
    font-size: 15px;
}

.ant-input, .ant-select-selector, .ant-input-number, .ant-input-number-input {
    font-size: 15px;
    padding: 8px 12px;
}

.action-bar {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 24px;
}

.change-product label {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 500;
}

.change-product input,
.change-product textarea,
.change-product select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.change-product input:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.change-product textarea {
    resize: none;
}

.change-product .action-bar {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.change-product .cancel-button {
    padding: 10px 15px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.change-product .cancel-button:hover {
    background-color: #d32f2f;
}

.change-product .save-button {
    padding: 10px 15px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.change-product .save-button:hover {
    background-color: #155bb5;
}

.cancel-btn {
    background-color: #f44336;
}

.cancel-btn:hover {
    background-color: #d32f2f;
}

.form-column .ant-form,
.form-column .ant-form-item {
    width: 100%;
}
  